<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		
		<style>
			body {background-image:url(https://previews.123rf.com/images/1stchoice/1stchoice1107/1stchoice110700089/10053934-co-conception-arri%C3%A8re-plan-vert-terre-avec-le-globe-et-le-monde-de-la-carte-.jpg);
				
				background-repeat:no-repeat;
				background-size:cover;
				color:#03cc03;
				
					}
				
			#top {color:#03cc03;
				
				margin-top:50px;
				font-size:80px;
				 font-family: "Times New Roman", Times, serif;}
			p {margin-left:100px;
				}
			#git {margin-left:900px;
				padding-down:100px;}

			#con {color:green;}</style>
		
	</head>
		<body>

			<div id="top"><i><b>PRAKRITHI INNOVATIONS</b></i>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQztoDlty1Y1AezZkDRfnU_2FqvlaWZ9EWjUQjM_EqHUpz4490ozg" alt="not displayed" height='70' width='70'></div>
				<div id="top1"><center><input type="text" placeholder="Search.."></p></center>
				
<p id="git"><a href="/git/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgIV5GGOMuQ_n4pgwxBsTr2-72zQR-t8h0Zg1Nqg4FYwhHMbQu" height="30" width="30"></a>
<a href="/twitter/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsePDkh44-ysSvOzZn1C-s_S5quXk_lDIceymoTOaMsWGZzbJEJg" height="30" width="30"></a>
<a href="/facebook/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0fmcicCsQiMb-XRRxiCbDQ7i6mOBBiINxo1rf5vnuXrcRTYJc" height="30" width="30"></a></p></div>
			
			


			<hr>
			<div id="cat">
				
					<div class="container">
						 <nav class="navbar navbar-inverse">
				  		<div class="container-fluid">
				    		<div class="navbar-header">
				      		<a class="navbar-brand" href="home.html"></a>
				    		</div>
				    		<ul class="nav navbar-nav">
				      		<li class="active"><a href="home.html">Home</a></li>
				      		
						<ul class="nav navbar-nav">
				      		<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
				      		<li><a href="/profile/">company profile</a></li>
				      		<li><a href="/mission/">our mission</a></li>
						
				    		</ul>
						</li>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/gallery/">Gallery</a></li>


						<ul class="nav navbar-nav">
				      		<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">product and services
						<span class="caret"></span></a>
						<ul class="dropdown-menu" >
				      		<li><a href="/login/">Kids corner,design & development</a></li>
				      		
						
				      		
						
						
				     
				    		</ul>
						</li>
						<ul class="nav navbar-nav">
				      		<li class="active"><a href="/quality/">Quality Management</a></li>

						<ul class="nav navbar-nav">
				      		<li class="actives"><a href="/contact/">Contact Us</a></li>

				    		</ul>
<ul class="nav navbar-nav navbar-right">
		<li><a href="/login/"><span class="glyphicon glyphicon-user"></span>{{user.username}}
	</a></li>
	
		
						
				  		</div>
						</nav> 
						
						</ul>
					</div>
				</div>
			</div><hr>



				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				    <!-- Indicators -->
				    <ol class="carousel-indicators">
				      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				      <li data-target="#myCarousel" data-slide-to="1"></li>
				      <li data-target="#myCarousel" data-slide-to="2"></li>
				    </ol>

				    <!-- Wrapper for slides -->
				    <div class="carousel-inner">
				      <div class="item active">
					<img src="https://images1.miaminewtimes.com/imager/u/745xauto/9415330/just4fun.jpg" style="width:100%;">
				      </div>

				      <div class="item">
					<img src="http://shop.rainbowgalaxy.co.in/wp-content/uploads/2018/04/wood-toy.jpg" style="width:100%">
				      </div>
				    
				      <div class="item">
					<img src="https://www.wonkaplayground.com/wp-content/uploads/2017/10/small-indoor-playground-1-1200x800.jpg" style="width:100%;">
				      </div>
				    </div>

				    <!-- Left and right controls -->
				    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
				      <span class="glyphicon glyphicon-chevron-left"></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control" href="#myCarousel" data-slide="next">
				      <span class="glyphicon glyphicon-chevron-right"></span>
				      <span class="sr-only">Next</span>
				    </a><hr>



				<div id="con"><h3>Contact us</h3>
				<br><span class="glyphicon glyphicon-earphone"> 	9605089115</span>
				<br><span class="glyphicon glyphicon envelop">Email id: bismibabuchinnu@gmail.com</span></p>
				
				  </div>
			<div>
		</body>
</html>


