<!DOCTYPE html>
<html>
	<head>
		<title>home</title>
		<style>
			body {background-image:url(https://previews.123rf.com/images/1stchoice/1stchoice1107/1stchoice110700089/10053934-co-conception-arri%C3%A8re-plan-vert-terre-avec-le-globe-et-le-monde-de-la-carte-.jpg);
				
				background-repeat:no-repeat;
				background-size:cover;
				color:#03cc03;
				margin-top: 200px;

				font-size: 70px;}
		</style>
	
	</head>
	<body>
		<center><div><h1><i>PRAKRITHI INNOVATIONS</i></h1>
		<a href="/home2/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQztoDlty1Y1AezZkDRfnU_2FqvlaWZ9EWjUQjM_EqHUpz4490ozg" alt="not displayed" height='100' width='100'></a></div>
		</center>
	</body>
</html>
